/* src/components/Navbar.css */
/* Customize the styling as needed */

.navbar {
  position: sticky;
  top: 0;
  background-color: #fff; /* Set your desired background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for a raised effect */
  z-index: 100; /* Adjust the z-index as needed to ensure the navbar appears above other elements */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type='text'] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  width: 500px;
}

.search-button {
  background-color: #ff4c00;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.user-actions {
  display: flex;
  align-items: center;
}

.login-button {
  background-color: #ff4c00;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 70px;
  font-weight: bold;
  padding: 10px;
  /* margin-left: 30px; */
}
/* CSS for the cart icon */
.cart-icon {
  font-size: 24px; /* Adjust the size as needed */
  color: #ff4c00; /* Set the color to your desired color */
}

/* Optional hover effect for interaction */
.cart-icon:hover {
  color: #ff4c00; /* Change the color on hover */
  cursor: pointer; /* Add a pointer cursor on hover */
}

.cart {
  font-size: 24px;
  color: #ff4c00;
  cursor: pointer;
  margin-right: 20px;
}
/* src/components/CategoriesDropdown.css */
/* Customize the styling as needed */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropbtn {
  background-color: #ff4c00;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 70px;
  font-weight: bold;
  padding: 10px;
}
.dropdown-content li {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #000;
}

.dropdown-content li:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.user-info {
  width: 40px; /* Set the width and height to create a circle */
  height: 40px;
  background-color: #ff4c00; /* Background color for the circle */
  color: #fff; /* Text color */
  border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
  text-align: center; /* Center the text horizontally */
  line-height: 40px; /* Center the text vertically */
  font-size: 20px; /* Adjust the font size as needed */
  font-weight: bold; /* Optionally, make the text bold */
}
